.page-template-page-zimmer
  top: 0
  header
    height: initial
    margin-bottom: initial
    background-position: initial
    background-size: initial

  .section-zimmer-content
    overflow: hidden
    .zimmer-card-wrapper
      position: relative
      margin-top: 152px
      margin-bottom: 152px
      &::after
        display: block
        content: ''
        border: 2px solid $medium-grey
        position: absolute
        top: -40px
        left: 15%
        right: 35%
        bottom: -40px
        z-index: -2
        //width: 150%
        //height: 100%
        //background-color: red
      .zimmer-gallery
        position: relative
        z-index: -1
        .swiper-wrapper
          .swiper-slide
            img
              width: 100%
              object-fit: cover
              min-height: 792px
              max-height: 792px
              height: auto
      .zimmer-content-wrapper
        transform: translateX( -25% )
        margin-top: 40px
        .zimmer-content
          background-color: #fff
          padding: 48px
          .zimmer-title
            margin-bottom: 32px
            color: $main-black
            font-size: 48px
            line-height: 64px
            word-break: break-word
            white-space: normal
          .zimmer-description
            margin-bottom: 32px
            color: $main-black
            font-family: Work Sans
            font-size: 18px
            font-style: normal
            font-weight: 400
            line-height: 32px
          .zimmer-amenities-title
            font-size: 16px
            font-style: normal
            font-weight: 600
            margin-bottom: 28px
            color: $main-red
          .zimmer-amenities
            display: flex
            justify-content: flex-start
            gap: 16px
            list-style: none
            margin: 0
            padding: 0
            li
              figure
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                max-width: 64px
                span
                  display: flex
                  justify-content: center
                  align-items: center
                  width: 64px
                  height: 64px
                figcaption
                  text-align: center
                  color: $main-black
                  font-family: Work Sans
                  font-size: 12px
                  font-style: normal
                  font-weight: 300
                  line-height: normal
                  white-space: normal
                  word-break: break-word

        .zimmer-gallery-navigation
          position: relative
          display: flex
          gap: 32px
          margin-left: 20%
          margin-top: 16px
          .swiper-button-next,
          .swiper-button-prev
            position: relative
            right: initial
            left: initial
            top: initial
            margin-top: initial
            z-index: initial

      &--rev
        //background-color: red
        &::after
          left: 35%
          right: 15%
        .zimmer-content-wrapper
          transform: translateX( 25% )
          .zimmer-gallery-navigation
            margin-right: 120px
            margin-left: initial
            justify-content: flex-end

@media (max-width: $xl)
  .page-template-page-zimmer
    .section-zimmer-content
      .zimmer-card-wrapper
        .zimmer-content-wrapper
          .zimmer-content
            .block-title
              font-size: 40px
              line-height: 48px

@media (max-width: $lg)
  .page-template-page-zimmer
    .section-zimmer-content
      .zimmer-card-wrapper
        margin-top: 64px
        margin-bottom: 0
        &::after
          top: -40px
          left: -20%
          right: 20%
          bottom: 70px
        &--rev
          &::after
            left: 20%
            right: -20%
        .zimmer-gallery
          .swiper-wrapper
            .swiper-slide
              img
                min-height: 500px
                max-height: 500px
        .zimmer-content-wrapper
          transform: translateX( 0% )
          transform: translateY( -20% )
          padding-left: 48px
          padding-right: 48px
          .zimmer-content
            padding: 32px
            .zimmer-title
              margin-bottom: 32px
              font-size: 40px
              line-height: 48px
            .zimmer-description
              margin-bottom: 32px
              font-size: 18px
              line-height: 32px
            .zimmer-amenities-title
              font-size: 16px
              margin-bottom: 28px
            .zimmer-amenities
              display: flex
              justify-content: flex-start
              gap: 16px
              list-style: none
              margin: 0
              padding: 0
              li
                figure
                  display: flex
                  flex-direction: column
                  align-items: center
                  justify-content: center
                  max-width: 64px
                  span
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 64px
                    height: 64px
                  figcaption
                    text-align: center
                    color: $main-black
                    font-family: Work Sans
                    font-size: 12px
                    font-style: normal
                    font-weight: 300
                    line-height: normal
                    white-space: normal
                    word-break: break-word
          .zimmer-gallery-navigation
            position: absolute
            width: 100%
            left: 50%
            right: 0
            top: -30%
            transform: translateX( -50% )
            margin: 0 auto
            justify-content: space-between
            .swiper-button-prev
              margin-left: 16px
            .swiper-button-next
              margin-right: 16px

@media (max-width: $md)
  .page-template-page-zimmer
    .section-zimmer-content
      .zimmer-card-wrapper
        .zimmer-content-wrapper
          padding-left: 40px
          padding-right: 40px
          .zimmer-content
            padding: 32px
            .zimmer-title
              font-size: 32px
              line-height: 40px
          .zimmer-gallery-navigation
            top: -25%

@media (max-width: $sm)
  .page-template-page-zimmer
    .section-zimmer-content
      .zimmer-card-wrapper
        &::after
          top: -40px
          left: -20%
          right: 20%
          bottom: 100px
        &--rev
          &::after
            left: 20%
            right: -20%
        .zimmer-content-wrapper
          padding-left: 16px
          padding-right: 16px
          .zimmer-content
            padding: 24px
            .zimmer-title
              font-size: 32px
              line-height: 40px
            .zimmer-amenities
              flex-wrap: wrap
          .zimmer-gallery-navigation
            top: -20%
            .swiper-button-prev
              margin-left: 0px
            .swiper-button-next
              margin-right: 0px
          